.content {
    padding: 0 15% 0 15%;
}

#usersTextBlock {
    text-align: center;
    margin-bottom: 50px;
}

#success_message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 28px;
    width: 300px;
    height: 56px;
    border-radius: 33px;
    text-align: center;
    margin-right: 15px;
}

#register_form {
    background-color: white;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#register_form .input-group {
    width: 100%;
}

#register_form .input-group input,
#register_form .input-group select,
#register_form button {
    border-radius: 33px;
}

#register_form button {
    background-color: #64bf7c;
    text-shadow: 1px 1px #808080;
    width: 100px;
}

#register_form button:hover {
    background-color: #84ce97;
}

#backToUsersListBtn {
    position: absolute;
    left: 34px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    background-color: #f24c3d;
    border:none;
    margin:0;
    padding:0;
}

#backToUsersListBtn:hover {
    background-color: #ff5f51;
}

#backToUsersListBtn i {
    position: relative;
    right: 1px;
}